[submodule "themes/personal-site"]
	path = themes/personal-site
	url = https://github.com/wisnuwiry/personal-site
[submodule "themes/alir-site"]
	path = themes/alir-site
	url = https://github.com/circleAlir/alir-site.git
	branch = master
[submodule "themes/alir-siteV2"]
	path = themes/alir-siteV2
	url = https://github.com/circleAlir/alir-siteV2.git
	branch = master
